apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "incerto-tool.fullname" . }}-nginx-config
  labels:
    {{- include "incerto-tool.labels" . | nindent 4 }}
data:
  incerto.conf: |
    server {
        server_name {{ .Values.global.domain }};

        listen 80;
        
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
        
        # Frontend proxy
        location / {
            proxy_pass http://127.0.0.1:3000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_cache_bypass $http_upgrade;
        }
        
        # Backend proxy
        location /api/ {
            proxy_pass http://127.0.0.1:8080;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Content-Type $http_content_type;
            proxy_cache_bypass $http_upgrade;
        }

        # AI query optimization proxy
        location /websocket_ai/ {
            proxy_pass http://127.0.0.1:8000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Content-Type $http_content_type;
            proxy_cache_bypass $http_upgrade;
        }

        # Charts api proxy 
        location /charts_api/ {
            proxy_pass http://127.0.0.1:9797;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Content-Type $http_content_type;
            proxy_cache_bypass $http_upgrade;
        }
    }

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "incerto-tool.fullname" . }}-frontend-config
  labels:
    {{- include "incerto-tool.labels" . | nindent 4 }}
data:
  config.json: |
{{ .Values.frontend.config | toJson | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "incerto-tool.fullname" . }}-backend-env
  labels:
    {{- include "incerto-tool.labels" . | nindent 4 }}
data:
  .env: |
    ENVIRONMENT={{ .Values.backend.env.ENVIRONMENT }}
    ALLOWED_CORS_ORIGINS={{ .Values.backend.env.ALLOWED_CORS_ORIGINS }}
    {{- if .Values.backend.env.AWS_REGION }}
    AWS_REGION={{ .Values.backend.env.AWS_REGION }}
    {{- end }}
    {{- if .Values.backend.env.AWS_ACCESS_KEY_ID }}
    AWS_ACCESS_KEY_ID={{ .Values.backend.env.AWS_ACCESS_KEY_ID }}
    {{- end }}
    {{- if .Values.backend.env.AWS_SECRET_ACCESS_KEY }}
    AWS_SECRET_ACCESS_KEY={{ .Values.backend.env.AWS_SECRET_ACCESS_KEY }}
    {{- end }}
    AI_AGENT_URL={{ .Values.backend.env.AI_AGENT_URL }}
    {{- if .Values.backend.env.SLACK_TOKEN }}
    SLACK_TOKEN={{ .Values.backend.env.SLACK_TOKEN }}
    {{- end }}
    {{- if .Values.backend.env.SLACK_CHANNEL_ID }}
    SLACK_CHANNEL_ID={{ .Values.backend.env.SLACK_CHANNEL_ID }}
    {{- end }}
    FRONTEND_URL={{ .Values.backend.env.FRONTEND_URL }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "incerto-tool.fullname" . }}-ai-env
  labels:
    {{- include "incerto-tool.labels" . | nindent 4 }}
data:
  .env: |
    {{- if .Values.ai.env.SERVICE_NAME }}
    SERVICE_NAME={{ .Values.ai.env.SERVICE_NAME }}
    {{- end }}
    {{- if .Values.ai.env.ANTHROPIC_API_KEY }}
    ANTHROPIC_API_KEY={{ .Values.ai.env.ANTHROPIC_API_KEY }}
    {{- end }}
    {{- if .Values.ai.env.OPENAI_API_KEY }}
    OPENAI_API_KEY={{ .Values.ai.env.OPENAI_API_KEY }}
    {{- end }}